# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
.vs/
out/
build/

# Project specific
roms/officials/*

# Dear ImGui
imgui.ini
DebuggerLayout.ini

# AI
CLAUDE.md
GEMINI.md
